.gradient-custom-2 {
  // Fallback for old browsers
  background: #fccb90;

  // Chrome 10-25, Safari 5.1-6
  background: -webkit-linear-gradient(to right, #0b4aa8, #0d6157, #7d84e9, #793a65);

  // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  background: linear-gradient(to right,  #0b4aa8, #0d6157, #7d84e9, #793a65);

  @media (min-width: 769px) {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
